*/.project
*/.settings
*/target
target/
*.war
*.zip
*.tar
*.tar.gz
.settings/
.project
.classpath
.idea/
*.ipr
*.iml
*.iws
*.log
*.cache
*.sass-cache
*.diff
*.patch
*.tmp
*.log.*
.DS_Store
Thumbs.db
*.gitignore
*/*/.listen_test
WebRoot/WEB-INF/classes/*
WebRoot/uploadFiles/*
out/*
