<#assign base=request.contextPath />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录界面</title>
<link href="${base}/resources/styles/loginCss/default.css" rel="stylesheet" type="text/css" />
<!--必要样式-->
<link href="${base}/resources/styles/loginCss/styles.css" rel="stylesheet" type="text/css" />
<link href="${base}/resources/styles/loginCss/demo.css" rel="stylesheet" type="text/css" />
<link href="${base}/resources/styles/loginCss/loaders.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${base}/resources/plugins/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="${base}/resources/plugins/jquery/jquery.validate.min.js"></script>
<link href="${base}/resources/styles/jquery/alert.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${base}/resources/plugins/jquery/alert.js"></script>
<script type="text/javascript" src="${base}/resources/plugins/jquery/jquery.blockUI.js"></script>
<script type="text/javascript" src=""></script>

<script type="text/javascript">
    $(function(){
    	//表单验证
  	  $("#loginForm").validate({
		    rules: {
		      loginName: {
		        required: true,
		        minlength: 2,
		        maxlength: 16,
		        remote:{
		            url: "${base}/user/checkUserExist.do",     //后台处理程序
		            type: "post",               //数据发送方式
		            dataType: "json"            //接受数据格式   
		        }
		      },
		      loginPass: {
  		        required: true,
		        minlength: 3,
		        maxlength: 16
		      },
		      validateCode: {
		        required: true,
		        minlength: 4,
		        maxlength: 4
		      }
		    },
		    messages: {
		    	loginName: {
		    		required: "用户名不能为空",
		    		minlength: "用户名长度不能小于2",
		    		maxlength: "用户名长度不能大于16",
		    		remote: "用户名不存在"
		    	},
		    	loginPass: {
		    		required: "密码不能为空",
		    		minlength: "密码长度不能小于3",
		    		maxlength: "密码长度不能大于16"
		    	},
		    	validateCode:{
		    		required: "验证码不能为空",
			        minlength: "验证码长度必须为4",
			        maxlength: "验证码长度必须为4"
		    	}
		    },
		    errorPlacement: function(error, element) {
				jqueryAlert({
					'content' : error.html(),
					'closeTime' : 2000
				});
		    },
		    onfocusout: function(element){
		    	$(element).valid();
		    },
		    onkeyup: false
  	  });
    });
    
    //登录
    function doLogin(url){
    	if($("#loginForm").valid()){
        	$.ajax({
        		url:url,
        		type:"POST",
        		dataType:"json",
        		data:$("#loginForm").serialize(),
/*         		beforeSend:function(){
        			$.blockUI({ message: '<img src="${base}/resources/images/loading.gif" alt="请等待，正在处理..." />' });
        		},
        		complete:function(){
        			$.unblockUI();
        		}, */
        		error:function(){
        			alert("error");
        		},
        		success:function(reply){
        			if(reply.code=="success"){
        				location.href = "${base}/index.do";
        			}else{
        				jqueryAlert({
        					'content' : reply.message,
        					'closeTime' : 2000
        				});
        			}
        		}
        	});
    	}
    }
    
    //注册页面
    function toRegister(){
    	
    }
    
    function doTest(){
    	$.ajax({
    		url:"${base}/test/12.do",
    		type:"GET",
    		dataType:"json",
    		beforeSend:function(){
    			$.blockUI({ message: '<img src="${base}/resources/images/loading.gif" alt="请等待，正在处理...." />' });
    		},
    		complete:function(){
    			$.unblockUI();
    		},
    		error:function(){
    			alert("error");
    		},
    		success:function(reply){
    			if(reply.code=="success"){
    				alert(reply.data.user.loginName);
    			}else{
    				alert(reply.message);
    			}
    		}
    	});
    }
</script>

<style type="text/css">
   
</style>

</head>
<body style="background-image:url(${base}/resources/images/Starry.jpg);background-position:center;background-repeat:repeat-y;">
	<div class='login'>
	<form id="loginForm" method="post">
	  <div class='login_title'>
	    <span>用户登录</span>
	  </div>
	  <div class='login_fields'>
	    <div class='login_fields__user'>
	      <div class='icon'>
	        <img alt="" src='${base}/resources/images/loginImage/user_icon_copy.png' />
	      </div>
	      <input name="loginName" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value=""/>
	        <div class='validation'>
	          <img alt="" src='${base}/resources/images/loginImage/tick.png' />
	        </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src='${base}/resources/images/loginImage/lock_icon_copy.png' />
	      </div>
	      <input name="loginPass" placeholder='密码' maxlength="16" type='password' autocomplete="off" />
	      <div class='validation'>
	        <img alt="" src='${base}/resources/images/loginImage/tick.png' />
	      </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src='${base}/resources/images/loginImage/key.png' />
	      </div>
	      <input id="validateCode" name="validateCode" placeholder='验证码' maxlength="4" type='text' autocomplete="off" />
	      <div class='validation' style="opacity: 1; right: 50px;top: 10px;">
          <img title="看不清楚，换一张" src="${base}/user/validateCode.do" onclick="this.src='${base}/user/validateCode.do?'+new Date()" style="cursor:pointer;height:21px; width:68px;float: left;"/>
	      </div>
	    </div>
	    <div class='login_fields__submit'>
	      <input type='button' value='登   录' id="login" onclick="doLogin('${base}/user/doLogin.do');" />&nbsp;&nbsp;&nbsp;<input type='button' value='注   册' id="register" onclick = "toRegister('${base}/user/toRegister.do');" />
	    </div>
<!-- 	    <div class='login_fields__submit'>
	      <input type="button" value="Test" onclick="doTest();" />
	    </div> -->
	  </div>
	  <div class='success'>
	  </div>
	  <div class='disclaimer'>
	    <p>欢迎登录系统  更多信息请关注：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
	  </div>
	  </form>
	</div>
</body>
</html>
